In [2]:
#Import dependants
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from pathlib import Path
from datetime import datetime

In [3]:
CSV1Kpath = Path("Kaggle1DS copy.csv")
CSV2Kpath = Path("Kaggle2DS copy.csv")
CSV3Xpath = Path("SHD copy.csv")
CSV1KR = pd.read_csv(CSV1Kpath)
CSV2KR = pd.read_csv(CSV2Kpath)
CSV3XR = pd.read_csv(CSV3Xpath)

In [4]:
#Data frames
kaggle_1_df = pd.DataFrame(CSV1KR)
kaggle_2_df = pd.DataFrame(CSV2KR)
shd_df = pd.DataFrame(CSV3XR)

Cleaning Kaggle 1 df

In [5]:
#kaggle_1_df

In [6]:
# Organizing columns in desired order
clean_1_df = pd.DataFrame(kaggle_1_df[["school","type","year","date","time","city","state","address","urbanrural","race","killed","injured","victims","LONCOD","LATCOD"]])

# Proper case the columns
clean_1_df.columns = [col.title() if col.islower() else col for col in clean_1_df]

# Renaming the columns
clean_1_df.rename(columns={"Urbanrural": "City Type", "LONCOD": "Longitude","LATCOD": "Latitude"}, inplace=True)

clean_1_df

,School,Type,Year,Date,Time,City,State,Address,City Type,Race,Killed,Injured,Victims,Longitude,Latitude
0,William Penn High School,High School,2009,8-Jan-09,8:30PM,New Castle,Delaware,713 E Basin Rd,suburbtown,BLACK,0,1,1,-75.584900,39.668100
1,Dunbar Vocational Career Academy,High School,2009,9-Jan-09,8:00PM,Chicago,Illinois,3000 S King Dr,urban,BLACK,0,5,5,-87.617500,41.839900
2,Cahokia High School,High School,2009,23-Jan-09,7:20PM,Cahokia,Illinois,800 Range Ln,suburbtown,BLACK,1,0,1,-90.165100,38.565700
3,Zebulon Middle School,Middle School,2009,11-Feb-09,6:00AM,Zebulon,North Carolina,Halifax Road and New Oak Street,suburbtown,BLACK,0,1,1,-78.311800,35.831500
4,Central High School,High School,2009,17-Feb-09,2:20PM,Detroit,Michigan,2425 Tuxedo St,urban,NaN,0,1,1,-83.113977,42.383593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Denali Elementary School,Elementary School,2018,3-Oct-18,9:30AM,Anchorage,Alaska,952 Cordova St,urban,WHITE,0,1,1,-149.881113,61.213281
176,Varina High School,High School,2018,7-Oct-18,9:30PM,Henrico,Virginia,7053 Messer Rd,rural,BLACK,0,1,1,-77.378427,37.471892
177,Butler High School,High School,2018,29-Oct-18,7:15AM,Matthews,North Carolina,1810 Matthews Mint Hill Rd,suburbtown,WHITE,1,0,1,-80.691593,35.120282
178,Simonsdale Elementary School,Elementary School,2018,20-Nov-18,4:00PM,Portsmouth,Virginia,4841 Clifford St,urban,WHITE,0,1,1,-76.382449,36.826811
179,Cawood Elementary School,Elementary School,2018,11-Dec-18,9:00PM,Cawood,Kentucky,51 Nola St,rural,WHITE,0,2,2,-83.229837,36.784261

Cleaning Kaggle 2 df

In [7]:
#kaggle_2_df

In [8]:
# Organizing available columns in desired order
clean_2_df = pd.DataFrame(kaggle_2_df[["school","year","date","time","city","state","killed","injured","long","lat"]])

# Renaming the columns
clean_2_df.rename(columns={"long": "Longitude","lat": "Latitude"}, inplace=True)

# Proper case the columns
clean_2_df.columns = [col.title() if col.islower() else col for col in clean_2_df]

# Adding the newly labeled data into a new csv for cleanliness
clean_2_path = Path("clean 2.csv")
clean_2_df.to_csv(clean_2_path, index=False)

# Adding empty columns that match first dataframe
clean_2_df["Type"] = ""
clean_2_df["Address"] = ""
clean_2_df["City Type"] = ""
clean_2_df["Race"] = ""
clean_2_df["Victims"] = ""

# Rearranging new columns and the first dataframe into desired order
clean_2_df = pd.DataFrame(clean_2_df[["School","Type","Year","Date","Time","City","State","Address","City Type","Race","Killed","Injured","Victims","Longitude","Latitude"]])

clean_2_df

,School,Type,Year,Date,Time,City,State,Address,City Type,Race,Killed,Injured,Victims,Longitude,Latitude
0,Columbine High School,,1999,4/20/1999,11:19 AM,Littleton,Colorado,,,,13,21,,-105.075000,39.603910
1,Scotlandville Middle School,,1999,4/22/1999,12:30 PM,Baton Rouge,Louisiana,,,,0,1,,-91.169966,30.529958
2,Heritage High School,,1999,5/20/1999,8:03 AM,Conyers,Georgia,,,,0,6,,-84.047960,33.626922
3,John Bartram High School,,1999,10/4/1999,10:00 AM,Philadelphia,Pennsylvania,,,,0,1,,-75.234108,39.921509
4,Dorchester High School,,1999,11/3/1999,7:40 AM,Boston,Massachusetts,,,,0,1,,-71.075901,42.285268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,E. Washington Rhodes Elementary School,,2023,5/8/2023,11:30 AM,Philadelphia,Pennsylvania,,,,0,0,,-75.178100,40.002800
383,Roosevelt High School,,2023,5/17/2023,2:25 PM,Washington,District of Columbia,,,,1,0,,-77.029177,38.942971
384,St. John's Prep,,2023,5/22/2023,NaN,Danvers,Massachusetts,,,,0,0,,-70.952603,42.582682
385,Oliver Citywide Academy,,2023,5/24/2023,7:30 AM,Pittsburgh,Pennsylvania,,,,1,0,,-80.024121,40.464327
386,Michigan Collegiate High School,,2023,6/5/2023,2:40 PM,Warren,Michigan,,,,0,0,,-83.066681,42.522585

Cleaning shd_df

In [9]:
#shd_df

In [10]:
# Organizing available columns in desired order
clean_3_df = pd.DataFrame(shd_df[["School","School_Level","Date","City","State","First Shot"]])

# Renaming the columns
clean_3_df.rename(columns={"School_Level": "Type","First Shot": "Time"}, inplace=True)

# Adding the newly labeled data into a new csv for cleanliness
clean_3_path = Path("clean 3.csv")
clean_3_df.to_csv(clean_3_path, index=False)

# Adding empty columns that match first dataframe
clean_3_df["Year"] = ""
clean_3_df["Address"] = ""
clean_3_df["City Type"] = ""
clean_3_df["Race"] = ""
clean_3_df["Killed"] = ""
clean_3_df["Injured"] = ""
clean_3_df["Victims"] = ""
clean_3_df["Longitude"] = ""
clean_3_df["Latitude"] = ""

# Rearranging new columns and the first dataframe into desired order
clean_3_df = pd.DataFrame(clean_3_df[["School","Type","Year","Date","Time","City","State","Address","City Type","Race","Killed","Injured","Victims","Longitude","Latitude"]])

clean_3_df

,School,Type,Year,Date,Time,City,State,Address,City Type,Race,Killed,Injured,Victims,Longitude,Latitude
0,Hine Junior High School,High,,1970-01-05,NaN,Washington,DC,,,,,,,,
1,Sousa Junior High,Junior High,,1970-01-05,NaN,Washington,DC,,,,,,,,
2,Unnamed High School,High,,1970-01-05,NaN,Washington,DC,,,,,,,,
3,John F. Kennedy High School,High,,1970-02-06,NaN,Cleveland,OH,,,,,,,,
4,David Starr Jordan High School,High,,1970-03-23,NaN,Long Beach,CA,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,Little Rock School District Bus,Other,,2022-06-08,16:01:00,Little Rock,AR,,,,,,,,
2065,Walnut Park Elementary School,Elementary,,2022-06-09,09:30:00,Gadsden,AL,,,,,,,,
2066,Byhalia High School,High,,2022-06-10,10:30:00,Byhalia,MS,,,,,,,,
2067,Mariner High School,High,,2022-06-13,15:10:00,Everett,WA,,,,,,,,
2068,Gresham School of Excellence,Elementary,,2022-06-20,01:00:00,Chicago,IL,,,,,,,,

Merging Data Frames

In [12]:
# Merging with specified suffixes
merged_df = pd.merge(clean_1_df, clean_2_df, on="School", suffixes=('_clean1', '_clean2'))
final_df = pd.merge(merged_df, clean_3_df, on="School", suffixes=('_merged', '_clean3'))

# Selecting only the desired columns
final_df = final_df[['School', 'Type_clean1', 'Year_clean1', 'Date_clean1', 'Time_clean1', 'City_clean1', 'State_clean1', 'Address_clean1', 'City Type_clean1', 'Race_clean1', 'Killed', 'Injured', 'Victims', 'Longitude', 'Latitude']]

# Renaming the columns
final_df.rename(columns={"Type_clean1": "Type","Year_clean1": "Year","Date_clean1": "Date","Time_clean1": "Time","City_clean1": "City","State_clean1": "State","Address_clean1": "Address","City Type_clean1": "City Type","Race_clean1": "Race"}, inplace=True)

final_df

,School,Type,Year,Date,Time,City,State,Address,City Type,Race,Killed,Injured,Victims,Longitude,Latitude
0,William Penn High School,High School,2009,8-Jan-09,8:30PM,New Castle,Delaware,713 E Basin Rd,suburbtown,BLACK,,,,,
1,William Penn High School,High School,2009,8-Jan-09,8:30PM,New Castle,Delaware,713 E Basin Rd,suburbtown,BLACK,,,,,
2,William Penn High School,High School,2009,8-Jan-09,8:30PM,New Castle,Delaware,713 E Basin Rd,suburbtown,BLACK,,,,,
3,Central High School,High School,2009,17-Feb-09,2:20PM,Detroit,Michigan,2425 Tuxedo St,urban,NaN,,,,,
4,Central High School,High School,2009,17-Feb-09,2:20PM,Detroit,Michigan,2425 Tuxedo St,urban,NaN,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Noblesville West Middle School,Middle School,2018,25-May-18,9:00AM,Noblesville,Indiana,19900 Hague Rd,suburbtown,WHITE,,,,,
217,Antioch High School,High School,2018,11-Aug-18,6:00PM,Antioch,Tennessee,1900 Hobson Pike,urban,BLACK,,,,,
218,Canyon Springs High School,High School,2018,11-Sep-18,2:40PM,Las Vegas,Nevada,350 E Alexander Rd,suburbtown,HISP,,,,,
219,Butler High School,High School,2018,29-Oct-18,7:15AM,Matthews,North Carolina,1810 Matthews Mint Hill Rd,suburbtown,WHITE,,,,,
220,Simonsdale Elementary School,Elementary School,2018,20-Nov-18,4:00PM,Portsmouth,Virginia,4841 Clifford St,urban,WHITE,,,,,