In [ ]:
#Import dependants
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from pathlib import Path
from datetime import datetime

In [ ]:
CSV1Kpath = Path("Kaggle1DS.csv")
CSV2Kpath = Path("Kaggle2DS.csv")
CSV3Xpath = Path("SHD.csv")
CSV1KR = pd.read_csv(CSV1Kpath)
CSV2KR = pd.read_csv(CSV2Kpath)
CSV3XR = pd.read_csv(CSV3Xpath)

#Firstm = pd.merge(CSV1KR, CSV2KR, on="school")
#Data = pd.merge(Firstm, CSV3XR, on= "school")

In [208]:
data1 = CSV1KR
data2 = CSV2KR

In [28]:
df1 = data1[["school", "city", "state", "killed"]]
df1

                               school        city           state  killed
0            William Penn High School  New Castle        Delaware       0
1    Dunbar Vocational Career Academy     Chicago        Illinois       0
2                 Cahokia High School     Cahokia        Illinois       1
3               Zebulon Middle School     Zebulon  North Carolina       0
4                 Central High School     Detroit        Michigan       0
..                                ...         ...             ...     ...
175          Denali Elementary School   Anchorage          Alaska       0
176                Varina High School     Henrico        Virginia       0
177                Butler High School    Matthews  North Carolina       1
178      Simonsdale Elementary School  Portsmouth        Virginia       0
179          Cawood Elementary School      Cawood        Kentucky       0

[180 rows x 4 columns]

In [29]:
df2 = data2[["school", "city", "state", "killed"]]
df2

,school,city,state,killed
0,Columbine High School,Littleton,Colorado,13
1,Scotlandville Middle School,Baton Rouge,Louisiana,0
2,Heritage High School,Conyers,Georgia,0
3,John Bartram High School,Philadelphia,Pennsylvania,0
4,Dorchester High School,Boston,Massachusetts,0
...,...,...,...,...
382,E. Washington Rhodes Elementary School,Philadelphia,Pennsylvania,0
383,Roosevelt High School,Washington,District of Columbia,1
384,St. John's Prep,Danvers,Massachusetts,0
385,Oliver Citywide Academy,Pittsburgh,Pennsylvania,1
386,Michigan Collegiate High School,Warren,Michigan,0

In [46]:
conc = pd.concat([df1, df2])

In [49]:
conc

,school,city,state,killed
0,William Penn High School,New Castle,Delaware,0
1,Dunbar Vocational Career Academy,Chicago,Illinois,0
2,Cahokia High School,Cahokia,Illinois,1
3,Zebulon Middle School,Zebulon,North Carolina,0
4,Central High School,Detroit,Michigan,0
...,...,...,...,...
382,E. Washington Rhodes Elementary School,Philadelphia,Pennsylvania,0
383,Roosevelt High School,Washington,District of Columbia,1
384,St. John's Prep,Danvers,Massachusetts,0
385,Oliver Citywide Academy,Pittsburgh,Pennsylvania,1
386,Michigan Collegiate High School,Warren,Michigan,0

In [53]:
school_counts = {

}

for i, row in conc.iterrows():
    if row["school"] in school_counts.keys():
        school_counts[row["school"]] += 1
    else:
        school_counts[row["school"]] = 109

#school_counts

In [59]:
conc[conc["school"] == "Central High School"]

                  school       city      state  killed
4    Central High School    Detroit   Michigan       0
70   Central High School    Detroit   Michigan       0
103  Central High School  Knoxville  Tennessee       1
105  Central High School    Detroit   Michigan       0

In [ ]:
# -83.1139767,42.383593,,2009,Central High School,Detroit,Michigan,2425 Tuxedo St,urban,,0,1,1,17-Feb-09,High School,260110304670,2:20PM
# 105,261200004670,Central High School,2612000,Detroit City School District,2/17/2009,2008-2009,2009,2:00 PM,Tuesday,Detroit,Michigan,public,919,0,2,2,targeted,17,m,,non-student,0,,,,,,,,4,913,0,0,2,,,1,handgun,,42.3837,-83.1115,57.2,9,12,640,Wayne County,26,26163,11

In [ ]:
# -83.1139767,42.383593,,2009,Central High School,Detroit,Michigan,2425 Tuxedo St,urban,,0,1,1,17-Feb-09,High School,260110304670,2:20PM
# 70,261200004670,Central High School,2612000,Detroit City School District,12/6/2005,2005-2006,2005,1:30 PM,Tuesday,Detroit,Michigan,public,1205,0,1,1,indiscriminate,18,m,,,0,,,,,,,,5,1194,0,1,5,,,0,,,42.38469,-83.11269,55.2,8,12,897,Wayne County,26,26163,11
# 105,261200004670,Central High School,2612000,Detroit City School District,2/17/2009,2008-2009,2009,2:00 PM,Tuesday,Detroit,Michigan,public,919,0,2,2,targeted,17,m,,non-student,0,,,,,,,,4,913,0,0,2,,,1,handgun,,42.3837,-83.1115,57.2,9,12,640,Wayne County,26,26163,11

In [389]:
# -83.1139767,42.383593,,2009,Central High School,Detroit,Michigan,2425 Tuxedo St,urban,,0,1,1,17-Feb-09,High School,260110304670,2:20PM
# 105,261200004670,Central High School,2612000,Detroit City School District,2/17/2009,2008-2009,2009,2:00 PM,Tuesday,Detroit,Michigan,public,919,0,2,2,targeted,17,m,,non-student,0,,,,,,,,4,913,0,0,2,,,1,handgun,,42.3837,-83.1115,57.2,9,12,640,Wayne County,26,26163,11

In [320]:
def format_date(date):
    #months = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."]
    months = ["Jan.", "Feb.", "March", "April", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."]
    year, month, day = map(int, date.split('-'))
    return f"{months[month-1]} {day}, {year}"

In [360]:
def format_time(time):
    if ('AM' in time) or ('PM' in time):
        return time.lower()
    if time == "930am":
        return "9:30 am"
    hour, min, sec = map(int, time.split(':'))
    mer = "pm" if hour>=12 else "am"
    hour = 12 if hour%12==0 else hour%12
    return f"{hour}:{min:02} {mer}"

In [386]:
def get_weekday(date):
    weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    weekday = datetime.strptime(date, "%Y-%m-%d").isoweekday()
    return weekdays[weekday-1]

get_weekday("1970-01-06")

'Tuesday'

In [387]:
data = CSV3XR

data = data.drop(columns=["Incident ID"])

data["Weekday"] = data["Date"].map(get_weekday)

data["Date"] = data["Date"].map(format_date)

data["First Shot"] = data["First Shot"].map(format_time, na_action="ignore")

data

,Date,Quarter,School,City,State,School_Level,Location,During School,Time Period,First Shot,Bullied,Domestic Violence,Gang Related,Preplanned,Weekday
0,"Jan. 5, 1970",Winter,Hine Junior High School,Washington,DC,High,Inside School Building,Yes,NaN,NaN,No,No,No,No,Monday
1,"Jan. 5, 1970",Winter,Sousa Junior High,Washington,DC,Junior High,Hallway,Yes,NaN,NaN,No,No,No,No,Monday
2,"Jan. 5, 1970",Winter,Unnamed High School,Washington,DC,High,Playground,Yes,NaN,NaN,No,No,No,No,Monday
3,"Feb. 6, 1970",Winter,John F. Kennedy High School,Cleveland,OH,High,Hallway,Yes,NaN,NaN,No,No,No,No,Friday
4,"March 23, 1970",Spring,David Starr Jordan High School,Long Beach,CA,High,Beside Building,No,Night,NaN,No,No,No,No,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,"June 8, 2022",Summer,Little Rock School District Bus,Little Rock,AR,Other,School Bus,Yes,Dismissal,4:01 pm,No,No,NaN,No,Wednesday
2065,"June 9, 2022",Summer,Walnut Park Elementary School,Gadsden,AL,Elementary,Front of School,Yes,Morning Classes,9:30 am,NaN,NaN,NaN,NaN,Thursday
2066,"June 10, 2022",Summer,Byhalia High School,Byhalia,MS,High,Parking Lot,Yes,Morning Classes,10:30 am,No,No,NaN,No,Friday
2067,"June 13, 2022",Summer,Mariner High School,Everett,WA,High,Parking Lot,No,After School,3:10 pm,No,No,NaN,No,Monday
2068,"June 20, 2022",Summer,Gresham School of Excellence,Chicago,IL,Elementary,Field (General),No,Night,1:00 am,No,No,NaN,No,Monday

In [388]:
d = datetime.strptime("1970-01-05", "%Y-%m-%d")
d.isoweekday()

1