In [1]:
#Import dependants
import pandas as pd
from pathlib import Path
import requests
import json
from pprint import pprint

from api_keys import geoapify_key

In [2]:
# load and read the CSVs
clean_2_path = Path("Resources/clean_2.csv")
clean_2_df = pd.read_csv(clean_2_path)

clean_2_df.head()

,School,Year,Date,Time,City,State,Killed,Injured,Longitude,Latitude
0,Columbine High School,1999,4/20/1999,11:19 AM,Littleton,Colorado,13,21,-105.075000,39.603910
1,Scotlandville Middle School,1999,4/22/1999,12:30 PM,Baton Rouge,Louisiana,0,1,-91.169966,30.529958
2,Heritage High School,1999,5/20/1999,8:03 AM,Conyers,Georgia,0,6,-84.047960,33.626922
3,John Bartram High School,1999,10/4/1999,10:00 AM,Philadelphia,Pennsylvania,0,1,-75.234108,39.921509
4,Dorchester High School,1999,11/3/1999,7:40 AM,Boston,Massachusetts,0,1,-71.075901,42.285268

In [3]:
# Eliminate current "Longitude" and "Latitude" to make way for the new ones
clean_2_dropped = clean_2_df.drop(columns=["Longitude", "Latitude"], axis=1)
clean_2_dropped.head()

,School,Year,Date,Time,City,State,Killed,Injured
0,Columbine High School,1999,4/20/1999,11:19 AM,Littleton,Colorado,13,21
1,Scotlandville Middle School,1999,4/22/1999,12:30 PM,Baton Rouge,Louisiana,0,1
2,Heritage High School,1999,5/20/1999,8:03 AM,Conyers,Georgia,0,6
3,John Bartram High School,1999,10/4/1999,10:00 AM,Philadelphia,Pennsylvania,0,1
4,Dorchester High School,1999,11/3/1999,7:40 AM,Boston,Massachusetts,0,1

In [4]:
# Function to geocode a city and state and update the DataFrame
def geocode_and_update(city, state, api_key):
    query = f"{city}, {state}"
    url = f"https://api.geoapify.com/v1/geocode/search?text={query}&apiKey={api_key}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        if data['features']:
            coordinates = data['features'][0]['geometry']['coordinates']
            return coordinates
    return None

# Example usage: Loop through cities and states in the DataFrame and geocode
api_key = geoapify_key
clean_2_dropped['Latitude'] = None  # Create new columns for latitude and longitude
clean_2_dropped['Longitude'] = None
for index, row in clean_2_df.iterrows():
    city = row['City']
    state = row['State']
    coordinates = geocode_and_update(city, state, api_key)
    if coordinates:
        clean_2_dropped.at[index, 'Latitude'] = coordinates[1]  # Assuming Geoapify returns latitude first
        clean_2_dropped.at[index, 'Longitude'] = coordinates[0]
        print(f"Geocoded {city}, {state}")
    else:
        print(f"Failed to geocode {city}, {state}")

# View DataFrame with "Latitude" and "Longitude" columns added
clean_2_dropped.head()

Geocoded Littleton, Colorado
Geocoded Baton Rouge, Louisiana
Geocoded Conyers, Georgia
Geocoded Philadelphia, Pennsylvania
Geocoded Boston, Massachusetts
Geocoded Deming, New Mexico
Geocoded Fort Gibson, Oklahoma
Geocoded New Port Richey, Florida
Geocoded Merced, California
Geocoded Chicago, Illinois
Geocoded Horn Lake, Mississippi
Geocoded Tecumseh, Oklahoma
Geocoded Mount Morris Township, Michigan
Geocoded Hugo, Oklahoma
Geocoded Sierra Vista, Arizona
Geocoded Lake Worth, Florida
Geocoded Renton, Washington
Geocoded Mount Healthy, Ohio
Geocoded New Orleans, Louisiana
Geocoded Oxnard, California
Geocoded Baltimore, Maryland
Geocoded Dallas, Texas
Geocoded Santee, California
Geocoded Williamsport, Pennsylvania
Geocoded El Cajon, California
Geocoded Gary, Indiana
Geocoded Monroe, Louisiana
Geocoded Ennis, Texas
Geocoded Los Angeles, California
Geocoded Covington, Kentucky
Geocoded Redondo Beach, California
Geocoded Caro, Michigan
Geocoded New York City, New York
Geocoded Los Angeles, California
Geocoded Bowie, Maryland
Geocoded Jersey City, New Jersey
Geocoded Liberty, Missouri
Geocoded Providence, Rhode Island
Geocoded Westminster, Colorado
Geocoded Washington, District of Columbia
Geocoded New Orleans, Louisiana
Geocoded Delhi, California
Geocoded Red Lion, Pennsylvania
Geocoded Vicksburg, Mississippi
Geocoded Spokane, Washington
Geocoded Cold Spring, Minnesota
Geocoded Lawndale, North Carolina
Geocoded Sacramento, California
Geocoded Charlotte, North Carolina
Geocoded Washington, District of Columbia
Geocoded East Greenbush, New York
Geocoded Philadelphia, Pennsylvania
Geocoded Oakland, California
Geocoded Maywood, Illinois
Geocoded Gary, Indiana
Geocoded Baltimore, Maryland
Geocoded New Orleans, Louisiana
Geocoded Jackson, Mississippi
Geocoded Peoria, Illinois
Geocoded Chicago, Illinois
Geocoded Nashville, Tennessee
Geocoded Red Lake, Minnesota
Geocoded Canton, Texas
Geocoded Lower Allen Township, Pennsylvania
Geocoded Jacksboro, Tennessee
Geocoded Jacksonville, Florida
Geocoded Chicago, Illinois
Geocoded Farmington, Missouri
Geocoded Saginaw, Michigan
Geocoded Jacksboro, Tennessee
Geocoded Detroit, Michigan
Geocoded Milwaukee, Wisconsin
Geocoded Longwood, Florida
Geocoded Chesapeake, Virginia
Geocoded Vacaville, California
Geocoded Garland, Texas
Geocoded Pittsburgh, Pennsylvania
Geocoded Roseburg, Oregon
Geocoded Reno, Nevada
Geocoded Los Angeles, California
Geocoded Hillsborough, North Carolina
Geocoded Fort Worth, Texas
Geocoded Bailey, Colorado
Geocoded Cazenovia, Wisconsin
Geocoded Nickel Mines, Pennsylvania
Geocoded Joplin, Missouri
Geocoded Tacoma, Washington
Geocoded Cincinnati, Ohio
Geocoded Philadelphia, Pennsylvania
Geocoded Midland, Michigan
Geocoded Chicago, Illinois
Geocoded Gresham, Oregon
Geocoded Los Fresnos, Texas
Geocoded Tampa, Florida
Geocoded Cleveland, Ohio
Geocoded Garden City, Georgia
Geocoded Charlotte, North Carolina
Geocoded Memphis, Tennessee
Geocoded Portsmouth, Ohio
Geocoded Memphis, Tennessee
Geocoded Oxnard, California
Geocoded Carthage, Mississippi
Geocoded Fresno, California
Geocoded Knoxville, Tennessee
Geocoded Fort Lauderdale, Florida
Geocoded Detroit, Michigan
Geocoded Hayward, California
Geocoded Jacksonville, Florida
Geocoded Larose, Louisiana
Geocoded Stamford, Connecticut
Geocoded Glen Allen, Virginia
Geocoded Mattituck, New York
Geocoded Conway, South Carolina
Geocoded Shreveport, Louisiana
Geocoded Madison, Alabama
Geocoded Littleton, Colorado
Geocoded Portsmouth, Virginia
Geocoded South Gate, California
Geocoded Blountville, Tennessee
Geocoded Conway, South Carolina
Geocoded Salinas, California
Geocoded Carlsbad, California
Geocoded Marinette, Wisconsin
Geocoded Omaha, Nebraska
Geocoded Los Angeles, California
Geocoded Placerville, California
Geocoded Martinsville, Indiana
Geocoded Apopka, Florida
Geocoded Houston, Texas
Geocoded Fayetteville, North Carolina
Geocoded Brownsville, Texas
Geocoded Houston, Texas
Geocoded Walpole, New Hampshire
Geocoded Bremerton, Washington
Geocoded Chardon, Ohio
Geocoded Jacksonville, Florida
Geocoded Mobile, Alabama
Geocoded Chapel Hill, North Carolina
Geocoded Baltimore, Maryland
Geocoded Normal, Illinois
Geocoded Newtown, Connecticut
Geocoded Fort Myers, Florida
Geocoded Taft, California
Geocoded Atlanta, Georgia
Geocoded Cincinnati, Ohio
Geocoded Homestead, Florida
Geocoded Decatur, Georgia
Geocoded Winston-Salem, North Carolina
Geocoded Pine Hills, Florida
Geocoded Austin, Texas
Geocoded Sparks, Nevada
Geocoded Chino, California
Geocoded Winter Garden, Florida
Geocoded Centennial, Colorado
Geocoded Jackson, Tennessee
Geocoded Roswell, New Mexico
Geocoded Lancaster, Pennsylvania
Geocoded Philadelphia, Pennsylvania
Geocoded Carbondale, Illinois
Geocoded Honolulu, Hawaii
Geocoded Bend, Oregon
Geocoded Salisbury, North Carolina
Geocoded Raytown, Missouri
Geocoded College Park, Georgia
Geocoded Greenville, North Carolina
Geocoded Troutdale, Oregon
Geocoded Miami, Florida
Geocoded Louisville, Kentucky
Geocoded Albemarle, North Carolina
Geocoded Marysville, Washington
Geocoded Roseville, Minnesota
Geocoded Lacey, Washington
Geocoded Augusta, Georgia
Geocoded Harrisburg, South Dakota
Geocoded San Antonio, Texas
Geocoded Moultrie, Georgia
Geocoded Lecanto, Florida
Geocoded Camden, Arkansas
Geocoded Philadelphia, Pennsylvania
Geocoded Glendale, Arizona
Geocoded Middletown, Ohio
Geocoded Birmingham, Alabama
Geocoded Alpine, Texas
Geocoded Townville, South Carolina
Geocoded Prichard, Alabama
Geocoded Columbus, Ohio
Geocoded San Francisco, California
Geocoded Sandy, Utah
Geocoded Auburn, Michigan
Geocoded Bountiful, Utah
Geocoded West Liberty, Ohio
Geocoded Baton Rouge, Louisiana
Geocoded Montgomery, Alabama
Geocoded San Bernardino, California
Geocoded Lake Charles, Louisiana
Geocoded Greensboro, Alabama
Geocoded Chicago, Illinois
Geocoded Columbus, Ohio
Geocoded Rockford, Washington
Geocoded Mattoon, Illinois
Geocoded Lansing, Michigan
Geocoded College Park, Georgia
Geocoded Corning, California
Geocoded Aztec, New Mexico
Geocoded High Point, North Carolina
Geocoded New Orleans, Louisiana
Geocoded Italy, Texas
Geocoded Benton, Kentucky
Geocoded Mobile, Alabama
Geocoded Los Angeles, California
Geocoded Parkland, Florida
Geocoded Dalton, Georgia
Geocoded Birmingham, Alabama
Geocoded Seaside, California
Geocoded Missoula, Montana
Geocoded Portsmouth, Virginia
Geocoded Great Mills, Maryland
Geocoded Europa, Mississippi
Geocoded Jackson, Michigan
Geocoded Ocala, Florida
Geocoded Atlanta, Georgia
Geocoded Albuquerque, New Mexico
Geocoded Palmdale, California
Geocoded Dixon, Illinois
Geocoded Santa Fe, Texas
Geocoded Noblesville, Indiana
Geocoded Charlotte, North Carolina
Geocoded North Las Vegas, Nevada
Geocoded Charlotte, North Carolina
Geocoded Anchorage, Alaska
Geocoded Battle Creek, Michigan
Geocoded Bridgeport, Connecticut
Geocoded Matthews, North Carolina
Geocoded Portsmouth, Virginia
Geocoded Richmond, Indiana
Geocoded Eugene, Oregon
Geocoded Minneapolis, Minnesota
Geocoded Baltimore, Maryland
Geocoded Rio Rancho, New Mexico
Geocoded Montgomery, Alabama
Geocoded Mission, Kansas
Geocoded Blountsville, Alabama
Geocoded Prescott, Arkansas
Geocoded Sacramento, California
Geocoded Jacksonville, Florida
Geocoded Flint, Michigan
Geocoded Highlands Ranch, Colorado
Geocoded Waukegan, Illinois
Geocoded Washington, District of Columbia
Geocoded Montgomery, Alabama
Geocoded Los Angeles, California
Geocoded Aiken, South Carolina
Geocoded Washington, District of Columbia
Geocoded Santa Rosa, California
Geocoded Baltimore, Maryland
Geocoded Los Angeles, California
Geocoded Saugus, California
Geocoded Waukesha, Wisconsin
Geocoded Oshkosh, Wisconsin
Geocoded Decatur, Alabama
Geocoded Jersey City, New Jersey
Geocoded New Haven, Connecticut
Geocoded Bellaire, Texas
Geocoded Oxnard, California
Geocoded Salt Lake City, Utah
Geocoded Antioch, California
Geocoded Albuquerque, New Mexico
Geocoded Weston, Florida
Geocoded Jacksonville, Florida
Geocoded Leland, North Carolina
Geocoded Hendersonville, North Carolina
Geocoded Pine Bluff, Arkansas
Geocoded Ontario, New York
Geocoded New Haven, Connecticut
Geocoded Chesterfield, South Carolina
Geocoded Columbus, Ohio
Geocoded Selma, Alabama
Geocoded Knoxville, Tennessee
Geocoded Ply_mouth, Minnesota
Geocoded Smyrna, Delaware
Geocoded Brooklyn, New York
Geocoded Indianapolis, Indiana
Geocoded Ware Shoals, South Carolina
Geocoded Rigby, Idaho
Geocoded Houston, Texas
Geocoded Houma, Louisiana
Geocoded Lithonia, Georgia
Geocoded Albuquerque, New Mexico
Geocoded Orangeburg, South Carolina
Geocoded Wilmington, North Carolina
Geocoded Winston-Salem, North Carolina
Geocoded Lavergne, Tennessee
Geocoded Ferndale, Michigan
Geocoded Newport News, Virginia
Geocoded Decatur, Mississippi
Geocoded Memphis, Tennessee
Geocoded Houston, Texas
Geocoded Arlington, Texas
Geocoded Little Rock, Arkansas
Geocoded Chicago, Illinois
Geocoded Chicago, Illinois
Geocoded Natchez, Mississippi
Geocoded Poughkeepsie, New York
Geocoded Bronx, New York
Geocoded Aurora, Colorado
Geocoded Harvey, Illinois
Geocoded Laveen, Arizona
Geocoded Oxford, Michigan
Geocoded Pasadena, Texas
Geocoded New York, New York
Geocoded China Grove, North Carolina
Geocoded Charlotte, North Carolina
Geocoded Columbia, South Carolina
Geocoded Rockford, Illinois
Geocoded Sanford, Florida
Geocoded Pittsburgh, Pennsylvania
Geocoded Rockville, Maryland
Geocoded Richfield, Minnesota
Geocoded Mount Vernon, New York
Geocoded Pueblo West, Colorado
Geocoded Clayton County, Georgia
Geocoded Olathe, Kansas
Geocoded Des Moines, Iowa
Geocoded Miami Gardens, Florida
Geocoded Richmond, California
Geocoded Yakima, Washington
Geocoded Hettinger County, North Dakota
Geocoded Woodbridge, Virginia
Geocoded Las Vegas, Nevada
Geocoded Philadelphia, Pennsylvania
Geocoded Greenville, South Carolina
Geocoded Lowellville, Ohio
Geocoded Erie, Pennsylvania
Geocoded Pine Bluff, Arkansas
Geocoded Washington, District of Columbia
Geocoded West Ishpeming, Michigan
Geocoded Houston, Texas
Geocoded West Palm Beach, Florida
Geocoded Chicago, Illinois
Geocoded Mexia, Texas
Geocoded Uvalde, Texas
Geocoded Los Angeles, California
Geocoded Gadsden, Alabama
Geocoded Vallejo, California
Geocoded Oakland, California
Geocoded Baltimore, Maryland
Geocoded Stuart, Florida
Geocoded Mankoto, Minnesota
Geocoded Oakland, California
Geocoded Dorchester, Massachusetts
Geocoded Milwaukee, Wisconsin
Geocoded St. Louis, Missouri
Geocoded Seattle, Washington
Geocoded Ball, Louisiana
Geocoded Clinton, Indiana
Geocoded Memphis, Tennessee
Geocoded Forestville, Maryland
Geocoded Fuquay-Varina, North Carolina
Geocoded Portland, Oregon
Geocoded Rochester, New York
Geocoded Columbus, Ohio
Geocoded Newport News, Virginia
Geocoded New Castle, Delaware
Geocoded New Orleans, Louisiana
Geocoded Kansas City, Missouri
Geocoded Taylorsville, Utah
Geocoded Yuma, Arizona
Geocoded Geary, Oklahoma
Geocoded Pickerington, Ohio
Geocoded Staten Island, New York
Geocoded Dalhart, Texas
Geocoded Pittsburgh, Pennsylvania
Geocoded Amarillo, Texas
Geocoded Arlington, Texas
Geocoded Anniston, Alabama
Geocoded Denver, Colorado
Geocoded Middlebury, Indiana
Geocoded Nashville, Tennessee
Geocoded Richmond, Virginia
Geocoded Knoxville, Tennessee
Geocoded Flint, Michigan
Geocoded Las Vegas, Nevada
Geocoded Philadelphia, Pennsylvania
Geocoded Washington, District of Columbia
Geocoded Danvers, Massachusetts
Geocoded Pittsburgh, Pennsylvania
Geocoded Warren, Michigan

,School,Year,Date,Time,City,State,Killed,Injured,Latitude,Longitude
0,Columbine High School,1999,4/20/1999,11:19 AM,Littleton,Colorado,13,21,39.613321,-105.016649
1,Scotlandville Middle School,1999,4/22/1999,12:30 PM,Baton Rouge,Louisiana,0,1,30.449416,-91.186966
2,Heritage High School,1999,5/20/1999,8:03 AM,Conyers,Georgia,0,6,33.66761,-84.01769
3,John Bartram High School,1999,10/4/1999,10:00 AM,Philadelphia,Pennsylvania,0,1,39.952724,-75.163526
4,Dorchester High School,1999,11/3/1999,7:40 AM,Boston,Massachusetts,0,1,42.355433,-71.060511

In [5]:
# Save the updated DataFrame to a new CSV file
clean_2_dropped.to_csv('Outputs/clean_2_updated.csv', index=False)